<section class="full">

  <div class="text-center h-1/5">
    <p class="text-textDestaque text-3xl font-font-primaria font-bold py-4 bbd2:text-xl">Conheça nossos amiguinhos</p>
  </div>

  <div class="h-3/5 flex justify-center items-center bg-textDestaque mx-40 desktop:mx-28 tablet:mx-16 sm4:mx-0 sm4:w-full rounded-2xl w-auto">

    <div>
      <div>
        <p class="text-xl font-font-primaria text-white p-8 sm3:text-base text-justify">Na PetHouse, acreditamos que cada animal merece um lar amoroso e seguro. Promovemos a adoção responsável e incentivamos a doação para ajudar os pets que aguardam por uma família. Adotar é um ato de amor que transforma vidas e traz alegria para todos. Venha conhecer nossos pets e faça a diferença na vida de um amigo peludo.</p>
      </div>
    </div>
  
  </div>

  <div class="text-center h-1/5 py-6">
    <button (click)="openMap()" class="text-white bg-textDestaque hover:bg-green-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">Encontre um amiguinho para você</button>
  </div>

</section>

